<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/kart.css') }}">
<title>FarmAI</title>
  </head>
  <body>
    <nav>
      <div class="navTop">
   <div class="navItem">
              <h1 class="logo">AgroKart</h1>
        </div>
        <div class="navItem">
              <div class="search">
                <input type="text" placeholder="Search..." class="searchInput">
                <img src="{{ url_for('static',filename='search.jpeg') }}"  class="searchIcon" alt=".." width="30" height="30">
              </div>
        </div>
       
      </div>
      <div class="navBottom">
          <a href="/agroCart" class="category"><h3 class="menuItem seeds">Seeds</h3><a>
          <a href="/fertilizers"class="category"><h3 class="menuItem">Fertilizers</h3><a>
          <a href="/pesticides" class="category"><h3 class="menuItem">Pesticides</h3><a>
          <a href="/farmTools" class="category"><h3 class="menuItem">Farm Machinary & Tools</h3><a>
          <a href="/soilKit" class="category"><h3 class="menuItem">Soil and water Testing Kit</h3><a>
      </div>
    </nav>
<div class="slider">
    <div class="sliderWrapper">
      <div class="farmTools seedSlider">
        <div class="sliderItem">
            <img src="{{ url_for('static',filename='cultivator.png')}}" alt=".." class="sliderImg">
            <div class="slidebg">
               <h1 class="sliderTitle">Tractor Cultivator</h1>
            <h3 class="sliderSeed">Farm and Machinery Tools<h3>
            <h2 class="sliderPrice">₹20,000</h2>
           <button class="buyButton"  id="buyButton">
                <a href="https://share.google/MYRBMhi7PRbVXHnom">BUY NOW!</a></button>


            </div>
           
        </div>  
        <div class="sliderItem">
            <img src="{{ url_for('static',filename='tractor.png')}}" alt=".." class="sliderImg">
            <div class="slidebg">
               <h1 class="sliderTitle">Mahindra Tractor</h1>
            <h3 class="sliderSeed">Farm and Machinery Tools<h3>
            <h2 class="sliderPrice">₹4,00,000</h2>
           <button class="buyButton"  id="buyButton">
                <a href="https://www.tradeindia.com/products/mahindra-tractor-9245117.html">BUY NOW!</a></button>

            </div>
           
        </div>  
        <div class="sliderItem">
            <img src="{{ url_for('static',filename='harvestor.png')}}" alt=".." class="sliderImg">
            <div class="slidebg">
               <h1 class="sliderTitle">Harvester</h1>
            <h3 class="sliderSeed">Farm and Machinery Tools<h3>
            <h2 class="sliderPrice">₹33,60,000</h2>
            <button class="buyButton"  id="buyButton">
                <a href=" https://share.google/WlW1uhKjUgZBnjUeK">BUY NOW!</a></button>

            </div>
           
        </div>  
        <div class="sliderItem">
            <img src="{{ url_for('static',filename='sprayer.png')}}" alt=".." class="sliderImg">
            <div class="slidebg">
               <h1 class="sliderTitle">Sprayer</h1>
            <h3 class="sliderSeed">Farm and Machinery Tools<h3>
            <h2 class="sliderPrice">₹12,141</h2>
             <button class="buyButton" id="buyButton"><a href="https://www.moglix.com/neptune-1hp-35cc-power-pressure-sprayer-with-4-stroke-engine-npw-768-wh/mp/msn4k6zp8148kq">BUY NOW!</a></button>

            </div>
           
        </div>  
        <div class="sliderItem">
            <img src="{{ url_for('static',filename='seedingMachine.png')}}" alt=".." class="sliderImg">
            <div class="slidebg">
               <h1 class="sliderTitle">Seeding Machine</h1>
            <h3 class="sliderSeed">Farm and Machinery Tools<h3>
            <h2 class="sliderPrice">₹7,500</h2>
            <button class="buyButton"  id="buyButton">
                <a href="https://www.amazon.in/Advance-Kishan-Planting-Operated-Agriculture/dp/B08PL66W5Y/ref=asc_df_B08PL66W5Y?mcid=5906b07ac1f73d7097f1c8fd7949aac5&tag=googleshopmob-21&linkCode=df0&hvadid=709963254953&hvpos=&hvnetw=g&hvrand=11780155491020304139&hvpone=&hvptwo=&hvqmt=&hvdev=m&hvdvcmdl=&hvlocint=&hvlocphy=9303268&hvtargid=pla-1236245312298&psc=1&gad_source=4">BUY NOW!</a></button>

            </div>
           
        </div>  

      </div>

    </div>
</div>
<div class="payment">
  <div class="details">
    <h1 class="payTitle">Personal Information</h1>
    <label class="info">Name and Surname</label>
    <input type="text" placeholder="John Doe" class="payInput">
    <label class="info">Phone Number</label>
    <input type="number" placeholder="Enter Your Phone Number" class="payInput">
    <label class="info">Address</label>
    <input type="text" placeholder="Enter Your Address" class="payInput">
  </div> 
  <h1 class="payTitle">Card Information</h1>
  <div class="cardIcons">
    <img src="{{url_for('static',filename='visabg.png')}} " width="50" alt=" " class="cardIcon">
    <img src="{{url_for('static',filename='masterCard.png')}} " width="50" alt=" " class="cardIcon">

  </div>
  <input type="password" class="payInput" placeholder="cardNumber">  
  <div class="cardInfo">
    <input type="text" placeholder="mm" class="payInput sm">
    <input type="text" placeholder="yyyy" class="payInput sm ">
    <input type="text" placeholder="cvv" class="payInput sm ">

  </div>
  <button class="payButton">Checkout! </button>
  <span class="close">X</span>
</div> 
<script src="{{ url_for('static',filename='js/script.js')}}">
  </body>
  </html>