<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cover Template · Bootstrap</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cover.css') }}">
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">FarmAI</h3>
         <nav class="nav nav-masthead justify-content-center mt-3">
  <a class="nav-link active mx-3 text-dark" href="/">Home</a>
  <a class="nav-link mx-3 text-dark" href="/login">Features</a>
  <a class="nav-link mx-3 text-dark" href="/login">Login</a>
              <a class="nav-link mx-3 text-dark" href="/register">Register</a>
                <a class="nav-link mx-3 text-dark" href="#">About</a>

</nav>

        </div>
      </header>

      <main role="main" class="inner cover">
      <h1 class="cover-heading">AI for Smart Farming</h1>
<p class="lead text-light">
  Detect plant diseases in seconds using image-based AI. Get expert advice, localized support, and eco-friendly treatment recommendations to boost your crop health and yield.
</p>

        <p class="lead">
          <a href="/login" class="btn btn-lg btn-light font-weight-bold text-red">Explore Now</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
        <p class="font-weight-bold text-dark">FarmAI – Developed as part of [Smart Earth Hackathon] | Empowering Farmers with AI</p>

        </div>
      </footer>
    </div>
  </body>
</html>
